doctype html
meta(charset="utf-8")
//if lt IE 9
	script(src="ie9.js")
title Signshop Helper
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
<link href='style.css' rel='stylesheet' type='text/css'>
<link rel=icon type="image/png" href="favicon.png">
<body>
header
	<img id=bg src=bg.png >
	<hgroup><img src="logo.png"><h1>SIGNSHOP HELPER &nbsp;<small>by:</small><img src=gl.png style="height:60px;vertical-align:middle;margin-left:0.5em" ></h1></hgroup>
	p High quality 1:20 scale vehicle templates in .eps format. Only 15$ each. (checkout with paypal)
	p(style="color:#b00") <strong>NEW!</strong> 2012 models.
	p: a#plink(href="#popup") More...
	#popup(style="height:0px")
		article
			P Contact us: 
				a(href="mailto:info@graphik-link.com") info@graphik-link.com
			h2 Features:
			ul 
				li Accuracy and precision of templates makes it easy to scale vehicles and make layouts. 
					a(href="chrysler-pacifica-2004-2008.eps") Try one for free!
				li Outlines for cars, trucks, SUV's, vans, trailers, and tractors.
				li Uses .eps, a reliable and easily imported file format.
		figure#slide
			img(src="1.jpg")
			img(src="2.jpg")
			img(src="3.jpg")
			img(src="4.jpg")
			img(src="5.jpg")
			img(src="6.jpg")

	footer Copyright <script>document.write((new Date).getFullYear())</script>, Signshop Helper, Graphic Library.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Website by: <a href="http://maloweb.com/en" target="_blank">maloweb.com</a>

.content

<script>ie=false</script>
<!--[if lt IE 9]>
<script>ie=true</script>
<![endif]-->
script
	var popupState="closed";
	document.getElementById("plink").onclick=function(a,b,c){
		b=document.getElementById("popup").style
		c=document.getElementById("plink")
		if(popupState=="closed"){b.height="300px";popupState="open";c.innerHTML="Less..."}
		else{b.height="0px";popupState="closed";c.innerHTML="More..."}
		return false
	}

	var index=0
	var images=document.getElementById("slide").getElementsByTagName("img")
	var slideshow=function(){
		for(i=images.length;i--;)images[i].style.opacity=0
		images[index].style.opacity=1
		if(ie){
			for(i=images.length;i--;)images[i].style.visibility="hidden"
			images[index].style.visibility="visible"
		}
		index=(index+1)%images.length
	}
	setInterval(slideshow,3000)

include index-min.js

script
	templates.setup()

script
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-37761254-1']);
	_gaq.push(['_trackPageview']);
	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
