doctype html
<!--[if lt IE 9]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
meta(charset="utf-8")
//if lt IE 9
	script(src="ie9.js")
//if IE
	script
		if (!document.getElementsByClassName) {
			document.getElementsByClassName = function(search) {
			var d = document, elements, pattern, i, results = [];
			if (d.querySelectorAll) { // IE8
				return d.querySelectorAll("." + search);
			}
			if (d.evaluate) { // IE6, IE7
				pattern = ".//*[contains(concat(' ', @class, ' '), ' " + search + " ')]";
				elements = d.evaluate(pattern, d, null, 0, null);
				while ((i = elements.iterateNext())) {
				results.push(i);
				}
			} else {
				elements = d.getElementsByTagName("*");
				pattern = new RegExp("(^|\\s)" + search + "(\\s|$)");
				for (i = 0; i < elements.length; i++) {
				if ( pattern.test(elements[i].className) ) {
					results.push(elements[i]);
				}
				}
			}
			return results;
			}
		}
		/*! @source http://purl.eligrey.com/github/classList.js/blob/master/classList.js*/
		if(typeof document!=="undefined"&&!("classList" in document.createElement("a"))){(function(j){if(!("HTMLElement" in j)&&!("Element" in j)){return}var a="classList",f="prototype",m=(j.HTMLElement||j.Element)[f],b=Object,k=String[f].trim||function(){return this.replace(/^\s+|\s+$/g,"")},c=Array[f].indexOf||function(q){var p=0,o=this.length;for(;p<o;p++){if(p in this&&this[p]===q){return p}}return -1},n=function(o,p){this.name=o;this.code=DOMException[o];this.message=p},g=function(p,o){if(o===""){throw new n("SYNTAX_ERR","An invalid or illegal string was specified")}if(/\s/.test(o)){throw new n("INVALID_CHARACTER_ERR","String contains an invalid character")}return c.call(p,o)},d=function(s){var r=k.call(s.className),q=r?r.split(/\s+/):[],p=0,o=q.length;for(;p<o;p++){this.push(q[p])}this._updateClassName=function(){s.className=this.toString()}},e=d[f]=[],i=function(){return new d(this)};n[f]=Error[f];e.item=function(o){return this[o]||null};e.contains=function(o){o+="";return g(this,o)!==-1};e.add=function(){var s=arguments,r=0,p=s.length,q,o=false;do{q=s[r]+"";if(g(this,q)===-1){this.push(q);o=true}}while(++r<p);if(o){this._updateClassName()}};e.remove=function(){var t=arguments,s=0,p=t.length,r,o=false;do{r=t[s]+"";var q=g(this,r);if(q!==-1){this.splice(q,1);o=true}}while(++s<p);if(o){this._updateClassName()}};e.toggle=function(p,q){p+="";var o=this.contains(p),r=o?q!==true&&"remove":q!==false&&"add";if(r){this[r](p)}return o};e.toString=function(){return this.join(" ")};if(b.defineProperty){var l={get:i,enumerable:true,configurable:true};try{b.defineProperty(m,a,l)}catch(h){if(h.number===-2146823252){l.enumerable=false;b.defineProperty(m,a,l)}}}else{if(b[f].__defineGetter__){m.__defineGetter__(a,i)}}}(self))};

<meta http-equiv="X-UA-Compatible" content="chrome=1">
<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
//<link rel=stylesheet href="tabs.css">
include tabs.css
<link rel=icon type="image/png" href="favicon.png">
<body>

#top
	hgroup
		<img src="logo.png">
		h1 SIGNSHOP HELPER &nbsp;
			small by:
			<img src=gl.png style="height:60px;vertical-align:middle;margin-left:0.5em" >

	nav
		a#p4(href="graphics") Auto Graphics
		a#p3(href="templates") Templates
		a#p2(href="elements") Elements
		a#p1(href="logos") Logos

	header
		article.p1
			| Vector Art Copyright free logos. Only 5$ each. (checkout with paypal) 
			a.more
			.popup
				figure
					img(src="logosfig.jpg")
				ul
					li Accuracy and precision make them easy to cut on any sign plotter.
					li For all kinds of businesses: Bakeries, Car dealers, Plumbers etc.
					li Uses .eps, a reliable and easily imported file format.
 
		article.p2
			| Vector Art Sign Elements. Only 5$ each. (checkout with paypal) 
			a.more
			.popup
				figure
					img(src="elementsfig.jpg")
				ul
					li Accuracy and precision make them easy to cut on any sign plotter.
					li Uses .eps, a reliable and easily imported file format.

		article.p3
			| High quality 1:20 scale vehicle templates in .eps format. Only 15$ each. (checkout with paypal) 
			a.more
			.popup
				figure
					img(src="1.jpg")
					img(src="2.jpg")
					img(src="3.jpg")
					img(src="4.jpg")
					img(src="5.jpg")
					img(src="6.jpg")
				ul
					li Accuracy and precision of outlines makes it easy to scale vehicles and make layouts. 
						a(href="chrysler-pacifica-2004-2008.eps") Try one for free!
					li Vehicle outlines for cars, trucks, SUV's, vans, trailers, and tractors.
					li Uses .eps, a reliable and easily imported file format.
		article.p4
			| Vehicle graphics in .eps format. Only 5$ each. (checkout with paypal) 
			a.more
			.popup
				figure
					img(src="graphicsfig.jpg")

		footer Copyright <script>document.write((new Date).getFullYear())</script>, Signshop Helper, Graphic Library.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contact us: <a href="mailto:info@graphik-link.com">info@graphik-link.com</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Website by: <a href="http://maloweb.com/en" target="_blank">maloweb.com</a>
.content

<script>ie=false</script>
<!--[if lt IE 9]>
<script>ie=true</script>
<![endif]-->

<!--[if !IE]><!-->
script(src="history.js")
<!--<![endif]-->
script
	// Modernizr 2.6.2 (Custom Build) | MIT & BSD
	;window.Modernizr=function(a,b,c){function y(a){i.cssText=a}function z(a,b){return y(l.join(a+";")+(b||""))}function A(a,b){return typeof a===b}function B(a,b){return!!~(""+a).indexOf(b)}function C(a,b){for(var d in a){var e=a[d];if(!B(e,"-")&&i[e]!==c)return b=="pfx"?e:!0}return!1}function D(a,b,d){for(var e in a){var f=b[a[e]];if(f!==c)return d===!1?a[e]:A(f,"function")?f.bind(d||b):f}return!1}function E(a,b,c){var d=a.charAt(0).toUpperCase()+a.slice(1),e=(a+" "+n.join(d+" ")+d).split(" ");return A(b,"string")||A(b,"undefined")?C(e,b):(e=(a+" "+o.join(d+" ")+d).split(" "),D(e,b,c))}var d="2.6.2",e={},f=b.documentElement,g="modernizr",h=b.createElement(g),i=h.style,j,k={}.toString,l=" -webkit- -moz- -o- -ms- ".split(" "),m="Webkit Moz O ms",n=m.split(" "),o=m.toLowerCase().split(" "),p={},q={},r={},s=[],t=s.slice,u,v=function(a,c,d,e){var h,i,j,k,l=b.createElement("div"),m=b.body,n=m||b.createElement("body");if(parseInt(d,10))while(d--)j=b.createElement("div"),j.id=e?e[d]:g+(d+1),l.appendChild(j);return h=["&#173;",'<style id="s',g,'">',a,"</style>"].join(""),l.id=g,(m?l:n).innerHTML+=h,n.appendChild(l),m||(n.style.background="",n.style.overflow="hidden",k=f.style.overflow,f.style.overflow="hidden",f.appendChild(n)),i=c(l,a),m?l.parentNode.removeChild(l):(n.parentNode.removeChild(n),f.style.overflow=k),!!i},w={}.hasOwnProperty,x;!A(w,"undefined")&&!A(w.call,"undefined")?x=function(a,b){return w.call(a,b)}:x=function(a,b){return b in a&&A(a.constructor.prototype[b],"undefined")},Function.prototype.bind||(Function.prototype.bind=function(b){var c=this;if(typeof c!="function")throw new TypeError;var d=t.call(arguments,1),e=function(){if(this instanceof e){var a=function(){};a.prototype=c.prototype;var f=new a,g=c.apply(f,d.concat(t.call(arguments)));return Object(g)===g?g:f}return c.apply(b,d.concat(t.call(arguments)))};return e}),p.history=function(){return!!a.history&&!!history.pushState},p.csstransforms3d=function(){var a=!!E("perspective");return a&&"webkitPerspective"in f.style&&v("@media (transform-3d),(-webkit-transform-3d){#modernizr{left:9px;position:absolute;height:3px;}}",function(b,c){a=b.offsetLeft===9&&b.offsetHeight===3}),a};for(var F in p)x(p,F)&&(u=F.toLowerCase(),e[u]=p[F](),s.push((e[u]?"":"no-")+u));return e.addTest=function(a,b){if(typeof a=="object")for(var d in a)x(a,d)&&e.addTest(d,a[d]);else{a=a.toLowerCase();if(e[a]!==c)return e;b=typeof b=="function"?b():b,typeof enableClasses!="undefined"&&enableClasses&&(f.className+=" "+(b?"":"no-")+a),e[a]=b}return e},y(""),h=j=null,e._version=d,e._prefixes=l,e._domPrefixes=o,e._cssomPrefixes=n,e.testProp=function(a){return C([a])},e.testAllProps=E,e.testStyles=v,e.prefixed=function(a,b,c){return b?E(a,b,c):E(a,"pfx")},e}(this,this.document);


include index-min.js
include logos-min.js
include elements-min.js
include graphics-min.js

script
	//tabs
	(function(){
		var t,i,a=document.getElementsByTagName("nav")[0].getElementsByTagName("a");
		for(i in a){
			t=a[i].innerHTML
			a[i].innerHTML='<svg width="35" height="60" class=border><path d="M 32,0 C 27,0 24,3 22,7 22,7 22,7 22,8 l 0,0 L 9,54 C 8,57 4,60 0,60 l 35,0 0,-60 -3,0 z"/></svg><svg width="35" height="60" class=border><path d="m 3,0 c 4,0 8,3 9,7 0,0 0,1 0,1 l 0,0 L 26,54 C 27,57 31,60 35,60 L 0,60 0,0 3,0 z"/></svg><svg width="35" height="60" class=tab><path d="M 32,0 C 27,0 24,3 22,7 22,7 22,7 22,8 l 0,0 L 9,54 C 8,57 4,60 0,60 l 35,0 0,-60 -3,0 z"/></svg><svg width="35" height="60" class=tab><path d="m 3,0 c 4,0 8,3 9,7 0,0 0,1 0,1 l 0,0 L 26,54 C 27,57 31,60 35,60 L 0,60 0,0 3,0 z"/></svg>'+t
		}
	})()
	//slideshow
	var fignum;
	for(fignum=(document.getElementsByTagName("figure")).length;fignum--;){
		;(function(){
			var i,index=0,images=document.getElementsByTagName("figure")[fignum].getElementsByTagName("img")
			,slideshow=function(){
				for(i=images.length;i--;)images[i].style.opacity=0
				images[index].style.opacity=1
				if(ie){
					for(i=images.length;i--;)images[i].style.visibility="hidden"
					images[index].style.visibility="visible"
				}
				index=(index+1)%images.length
			};
			slideshow()
			setInterval(slideshow,4000)
		})()
	}
	//click event
	onclick=function(e,d,t){
		if(!e){e={};e.target=event.srcElement}
		t=e.target
		d=t.id
		var g=document.getElementsByTagName("header")[0].classList
		if(d[0]=="p"&&Modernizr.history){
			if(g.contains("show"))g.remove("show");
			var pageName=[,"logos","elements","templates","graphics"][d[1]]
			History.pushState("","",pageName)
			window[pageName].setup()
			e.preventDefault()
		}
		if(t.className=="more"){
			if(g.contains("show"))g.remove("show");else g.add("show")
		}
	};
	//load event
	var pageName=/signshop/.test(location.pathname)?location.pathname.split("/signshop/")[1]:location.pathname.split("/")[1];
	pageName=window[pageName]?pageName:"templates"
	window[pageName].setup()
//if IE 9
	script(src="PIE.js")
	script
		PIE.attach(document.getElementsByTagName("header")[0])

script
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-37761254-1']);
	_gaq.push(['_trackPageview']);
	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();