doctype html
|<html class=templates><meta charset=utf-8>
|<meta http-equiv=X-UA-Compatible content="chrome=1"><!--ie stuff-->
|<meta name=viewport content="width=device-width">
//
	|  _________________________________________
	| |                                         |
	| | Want to improve the code of             |
	| | this website or report a bug?           |
	| | Go to: github.com/williammalo/signshop  |
	| |___  ____________________________________|
	|     |/
	|  __  __   _   _    _____      _____ ___       ___ ___  __  __ 
	| |  \/  | /_\ | |  / _ \ \    / / __| _ )     / __/ _ \|  \/  |
	| | |\/| |/ _ \| |_| (_) \ \/\/ /| _|| _ \  _ | (_| (_) | |\/| |
	| |_|  |_/_/ \_\____\___/ \_/\_/ |___|___/ (_) \___\___/|_|  |_|
	| maloweb.com
	| 
	|
title SIGNSHOP HELPER
meta(name="description",content="High quality 1:20 scale vehicle templates in .eps format. Only 15$ each.")
base(href="/")
//if IE
	script(src="ie.js")

link(rel="dns-prefetch", href="http://signshop.s3-website-us-east-1.amazonaws.com")
//link(rel="dns-prefetch", href="http://www.payloadz.com")
//link(rel="dns-prefetch", href="https://www.payloadz.com")
//link(rel="dns-prefetch", href="http://s7.addthis.com")
link(rel="dns-prefetch", href="http://signshophelper.fetchapp.com")
link(rel="dns-prefetch", href="https://www.paypal.com")
link(rel="dns-prefetch", href="http://themes.googleusercontent.com")

//link(rel="stylesheet", href="style.css")
include ../../style.css
//link(href="//fonts.googleapis.com/css?family=Ubuntu", rel="stylesheet")
link(rel="icon",type="image/png",href="favicon.png")

//if IE
	|<body class=ie>

header#subscribed
	a#cart(href="http://signshophelper.fetchapp.com/cart/pp",target="_blank")

	form#mail(onmouseover="document.getElementById('mailinput').focus()",action="http://maloweb.us6.list-manage1.com/subscribe/post?u=6aef9dc8050cd9b309aa2c409&amp;id=8daedc86ae", method="post", name="mc-embedded-subscribe-form", novalidate)
		input#mailinput(type="email", value="", name="EMAIL", placeholder="Your email…")
		input#formsubmit(type="submit", value="Subscribe", name="subscribe")
	h1
		img(src="logo.png")
		span SIGNSHOP HELPER
	nav
		a(href="graphics") Auto Graphics
		a(href="templates") Vehicle Templates
		a(href="elements") Sign Elements
		a(href="logos") Copyright Free Logos

-pptxt=" <strong>Checkout with&nbsp;<img class=paypal src=paypal.png alt=paypal>.</strong>"

aside
	.logos Vector Art Copyright free logos in .eps format. Only 5$ each.
		!=pptxt
	.elements Vector Art Sign Elements in .eps format. Only 5$ each.
		!=pptxt
	.templates
		input.more(type="checkbox", id="tmore")
		|High quality 1:20 scale vehicle templates in .eps format. Only 17$ each.
		!=pptxt
		figure.slide.popup
			img(data-src="1.jpg")
			img(data-src="2.jpg")
			img(data-src="3.jpg")
			img(data-src="4.jpg")
			img(data-src="5.jpg")
			img(data-src="6.jpg")
		label.more(for="tmore")
		ul.popup
			li Vehicle outlines for cars, trucks, SUV's, vans, trailers, and tractors.
			li Accuracy and precision of outlines makes it easy to scale vehicles and make layouts.
			li Try one for free: <a href="http://signshop.s3-website-us-east-1.amazonaws.com/chrysler-pacifica-2004-2008.eps" download="chrysler-pacifica-2004-2008.eps">eps</a> / <a href="http://signshop.s3-website-us-east-1.amazonaws.com/chev-express-cube-16ft.pdf" download="chev-express-cube-16ft.pdf">pdf</a>
			li
				a(href="faq",target="_blank",id="faq") FAQ's
		strong.popup Always check the measurements of the vehicle. Before cutting or printing any final artwork<br>measure doors, windows and body side to verify graphic maximum size.
	.graphics Vehicle graphics in .eps format. Only 5$ each. <strong>Checkout with&nbsp;<img class=paypal src=paypal.png alt=paypal>.</strong>
menu.logos
menu.elements
menu.templates
	form#inputform
		input(type="text", id="input", placeholder="Search Your Model…")
menu.graphics
#container
footer
	.txt © #{(new Date).getFullYear()}, Signshop Helper, Graphic Library.
	.txt Contact us: <a href=mailto:info@graphik-link.com>info@graphik-link.com</a>
	.txt Website by: <a href="http://maloweb.com/en" target=_blank>maloweb.com</a>

script.
	//tabs
	(function(){
		var t, i, a=document.querySelectorAll("nav a"),p='<svg width="35" height="60" class='
		,s1='><path d="M 32,0 C 27,0 24,3 22,7 22,7 22,7 22,8 l 0,0 L 9,54 C 8,57 4,60 0,60 l 35,0 0,-60 -3,0 z"/></svg>'
		,s2='><path d="m 3,0 c 4,0 8,3 9,7 0,0 0,1 0,1 l 0,0 L 26,54 C 27,57 31,60 35,60 L 0,60 0,0 3,0 z"/></svg>';
		for(i=a.length;i--;){
			t=a[i].innerHTML;
			a[i].innerHTML=p+'border'+s1+p+'border'+s2+p+'tab'+s1+p+'tab'+s2+t;
		};
	})();

//script(src="index.js")
include ../../index.js
