<!doctype html><html class=templates><meta charset="utf-8">
//
	| 
	|             _______       _________________________________________
	|            /       \     | Hi there!                               |
	|           /   O  O  \    | Want to improve the code of             |
	|          |   _____   |   | this website or report a bug?           |
	|           \  \___/  /    | Go to: github.com/williammalo/signshop  |
	|            \_______/     |___  ____________________________________|
	|                |             |/
	|               /|\    /
	|              / | \  /
	|             /  |  \/
	|            |   |   
	|            |   |
	|            |   |
	|               /\
	|              /  \
	|             /    \
	|            /      \
	|           /        \
	|  __  __   _   _    _____      _____ ___       ___ ___  __  __ 
	| |  \/  | /_\ | |  / _ \ \    / / __| _ )     / __/ _ \|  \/  |
	| | |\/| |/ _ \| |_| (_) \ \/\/ /| _|| _ \  _ | (_| (_) | |\/| |
	| |_|  |_/_/ \_\____\___/ \_/\_/ |___|___/ (_) \___\___/|_|  |_|
	| maloweb.com
	| 
	| 
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="viewport" content="width=device-width">
title SIGNSHOP HELPER
meta(name="description",content="High quality 1:20 scale vehicle templates in .eps format. Only 15$ each.")
base(href="/")
//if lt IE 9
	script(src="//html5shim.googlecode.com/svn/trunk/html5.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js")
link(rel="stylesheet",href="style.css")
<link href='//fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
link(rel="icon",type="image/png".href="favicon.png")
<body><!--ie stuff-->

header#subscribed
	a#cart(href="http://www.payloadz.com/go/view_cart.asp?id_user=132628",target="_blank")
		img(src="cart.png")
	form#mail(onmouseover="document.getElementById('mailinput').focus()",action="http://maloweb.us6.list-manage1.com/subscribe/post?u=6aef9dc8050cd9b309aa2c409&amp;id=8daedc86ae", method="post", name="mc-embedded-subscribe-form", novalidate)
		img(src="mail.png")
		input#mailinput(type="email", value="", name="EMAIL", placeholder="Your email...")
		input#formsubmit(type="submit", value="Subscribe", name="subscribe")
	h1
		img(src="logo.png")
		span SIGNSHOP HELPER
	nav
		a.graphics(href="graphics") Auto Graphics
		a.templates(href="templates") Vehicle Templates
		a.elements(href="elements") Sign Elements
		a.logos(href="logos") Copyright Free Logos
	script
		//tabs
		(function(){
			var t, i, a=document.querySelectorAll("nav a");
			for(i=a.length;i--;){
				t=a[i].innerHTML;
				a[i].innerHTML='<svg width="35" height="60" class=border><path d="M 32,0 C 27,0 24,3 22,7 22,7 22,7 22,8 l 0,0 L 9,54 C 8,57 4,60 0,60 l 35,0 0,-60 -3,0 z"/></svg><svg width="35" height="60" class=border><path d="m 3,0 c 4,0 8,3 9,7 0,0 0,1 0,1 l 0,0 L 26,54 C 27,57 31,60 35,60 L 0,60 0,0 3,0 z"/></svg><svg width="35" height="60" class=tab><path d="M 32,0 C 27,0 24,3 22,7 22,7 22,7 22,8 l 0,0 L 9,54 C 8,57 4,60 0,60 l 35,0 0,-60 -3,0 z"/></svg><svg width="35" height="60" class=tab><path d="m 3,0 c 4,0 8,3 9,7 0,0 0,1 0,1 l 0,0 L 26,54 C 27,57 31,60 35,60 L 0,60 0,0 3,0 z"/></svg>'+t;
			};
		})();
aside
	.logos Vector Art Copyright free logos in .eps format. Only 5$ each. <strong>checkout with&nbsp;<img class=paypal src=paypal.png alt=paypal>.</strong>
	.elements Vector Art Sign Elements in .eps format. Only 5$ each. <strong>Checkout with&nbsp;<img class=paypal src=paypal.png alt=paypal>.</strong>
	.templates
		<input type=checkbox id=tmore class=more>High quality 1:20 scale vehicle templates in .eps format. Only 15$ each. <strong>Checkout&nbsp;with&nbsp;<img class=paypal src=paypal.png alt=paypal>.</strong>
		figure.slide.popup
			img(data-src="1.jpg")
			img(data-src="2.jpg")
			img(data-src="3.jpg")
			img(data-src="4.jpg")
			img(data-src="5.jpg")
			img(data-src="6.jpg")
		<label for=tmore class=more><img src="plus.png"></label>
		ul.popup
			li Vehicle outlines for cars, trucks, SUV's, vans, trailers, and tractors.
			li Accuracy and precision of outlines makes it easy to scale vehicles and make layouts.
			li Try one for free: <a href="chrysler-pacifica-2004-2008.eps">eps</a> / <a href="chev-express-cube-16ft.pdf">pdf</a>
			li
				a(href="faq",target="_blank",id="faq") FAQ's
	.graphics Vehicle graphics in .eps format. Only 5$ each. <strong>Checkout with&nbsp;<img class=paypal src=paypal.png alt=paypal>.</strong>
menu.logos
menu.elements
menu.templates
	<input type=text id=input placeholder="Search Your Model…">
menu.graphics
#container
footer 
	.txt &copy; <script>document.write((new Date).getFullYear())</script>, Signshop Helper, Graphic Library.
	.spacer
	.txt Contact us: <a href="mailto:info@graphik-link.com">info@graphik-link.com</a>
	.spacer
	.txt Website by: <a href="http://maloweb.com/en" target="_blank">maloweb.com</a>
//if IE
	script
		/*! @source http://purl.eligrey.com/github/classList.js/blob/master/classList.js*/
		if(typeof document!=="undefined"&&!("classList" in document.createElement("a"))){(function(j){if(!("HTMLElement" in j)&&!("Element" in j)){return}var a="classList",f="prototype",m=(j.HTMLElement||j.Element)[f],b=Object,k=String[f].trim||function(){return this.replace(/^\s+|\s+$/g,"")},c=Array[f].indexOf||function(q){var p=0,o=this.length;for(;p<o;p++){if(p in this&&this[p]===q){return p}}return -1},n=function(o,p){this.name=o;this.code=DOMException[o];this.message=p},g=function(p,o){if(o===""){throw new n("SYNTAX_ERR","An invalid or illegal string was specified")}if(/\s/.test(o)){throw new n("INVALID_CHARACTER_ERR","String contains an invalid character")}return c.call(p,o)},d=function(s){var r=k.call(s.className),q=r?r.split(/\s+/):[],p=0,o=q.length;for(;p<o;p++){this.push(q[p])}this._updateClassName=function(){s.className=this.toString()}},e=d[f]=[],i=function(){return new d(this)};n[f]=Error[f];e.item=function(o){return this[o]||null};e.contains=function(o){o+="";return g(this,o)!==-1};e.add=function(){var s=arguments,r=0,p=s.length,q,o=false;do{q=s[r]+"";if(g(this,q)===-1){this.push(q);o=true}}while(++r<p);if(o){this._updateClassName()}};e.remove=function(){var t=arguments,s=0,p=t.length,r,o=false;do{r=t[s]+"";var q=g(this,r);if(q!==-1){this.splice(q,1);o=true}}while(++s<p);if(o){this._updateClassName()}};e.toggle=function(p,q){p+="";var o=this.contains(p),r=o?q!==true&&"remove":q!==false&&"add";if(r){this[r](p)}return o};e.toString=function(){return this.join(" ")};if(b.defineProperty){var l={get:i,enumerable:true,configurable:true};try{b.defineProperty(m,a,l)}catch(h){if(h.number===-2146823252){l.enumerable=false;b.defineProperty(m,a,l)}}}else{if(b[f].__defineGetter__){m.__defineGetter__(a,i)}}}(self))};

//if lt IE 9
	<script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.0.8/es5-shim.min.js"></script>
	script
		(function(){for(var a=3,d=document.createElement("div"),g=d.getElementsByTagName("i");d.innerHTML="\x3c!--[if gt IE "+ ++a+"]><i></i><![endif]--\x3e",g[0];);if(8===(4<a?a:void 0)){a=document.createEventObject().constructor.prototype;Object.defineProperty(a,"bubbles",{get:function(){for(var e="select scroll click dblclick mousedown mousemove mouseout mouseover mouseup wheel textinput keydown keypress keyup".split(" "),a=this.type,c=0,d=e.length;c<d;c++)if(a===e[c])return!0;return!1}});Object.defineProperty(a,"defaultPrevented",{get:function(){var a=this.returnValue;return!(void 0===a||a)}});Object.defineProperty(a,"relatedTarget",{get:function(){var a=this.type;return"mouseover"===a||"mouseout"===a?"mouseover"===a?this.fromElement:this.toElement:null}});Object.defineProperty(a,"target",{get:function(){return this.srcElement}});a.preventDefault=function(){this.returnValue=!1};a.stopPropagation=function(){this.cancelBubble=!0};var f=function(a){return"function"!==typeof a&&"function"===typeof a.handleEvent},a=function(a,b){var c=b;f(b)&&("function"!==typeof b.__eventShim__&&(b.__eventShim__=function(a){b.handleEvent(a)}),c=b.__eventShim__);this.attachEvent("on"+(a=="input"?"keyup":a),c)},d=function(a,b){var c=b;f(b)&&(c=b.__eventShim__);this.detachEvent("on"+a,c)};HTMLDocument.prototype.addEventListener=a;HTMLDocument.prototype.removeEventListener=d;Element.prototype.addEventListener=a;Element.prototype.removeEventListener=d;window.addEventListener=a;window.removeEventListener=d}})();
script
	if(!window.history)window.history={};
	history.pushState=history.pushState||function(a,b,c){window.location=c;};
	var ie=function(){for(var a=3,b=document.createElement("b"),c=b.all||[];b.innerHTML="<!--[if gt IE "+ ++a+"]><i><![endif]-->",c[0];);return 4<a?a:document.documentMode}();
	if(ie)document.body.classList.add("ie")
	if(ie==8)document.body.classList.add("ie8")
script(src="data.js")
script(src="index.js")
